* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product-img {
  /* float: left; */
  /* margin-right: 40px; */
}

.sale {
  position: absolute;
  top: -17px;
  left: -38px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 7px 15px;
  /* width: 70px; */
  /* height: 30px; */
}
/* PRODUCT */

.product-article {
  width: 825px;
  border: black solid 4px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  background-color: #dfdfdf;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
}

/* PRODUCT INFO */

.product-info {
  /*825-8(borders)-250-80(margine) */
  /* width: 243px; */
  /* float: left; */
  /* margin-right: 40px; */
  /* margin-top: 20px; */
  flex: 1;
}

.price {
  font-size: 24px;
  width: 100px;
  /* margin-bottom: 10px; */
  /* float: left; */
}

.shipping {
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  /* margin-top: 8px; */
  /* float: right; */
}

.product-description {
  margin-bottom: 10px;
  /* clear: both; */
}

/* .more-info-p {
  margin-bottom: 20px;
} */

/* MORE INFO, DETAILS*/

.product-details {
  /* width: 243px; */
  /* float: left; */
  margin-top: 20px;
  flex: 1;
}

.colors {
  /* margin-top: 20px; */
}
.color {
  /* display: inline-block; */
  height: 20px;
  width: 20px;
  /* margin-right: 10px; */
  /* margin-top: 20px; */
}

.color-1 {
  background-color: black;
}

.color-2 {
  background-color: blue;
}

.color-3 {
  background-color: red;
}

.color-4 {
  background-color: yellow;
}

.color-5 {
  background-color: greenyellow;
}

.color-6 {
  background-color: brown;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON*/

.add-cart {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: solid black 5px;
}

.add-cart:hover {
  color: black;
  background-color: white;
}

.container {
  /* background-color: red; */
}

/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */

/* FLEXBOX */
.container {
  /* display: flex;
  gap: 40px; */
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-colors {
  display: flex;
  gap: 15px;
}

/* CSS GRID */

.product-article {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}
